<template name="mainNavigationTopItemProfileItemFullscreen">
    {{#if gotFullscreenSettingsAccess}}
        <tr class="{{#if isActiveRoute
                         'profileFullscreen'}}active{{/if}}">
            <td><a rel="noopener noreferrer"   class="dropdown-item"
                   href="/profile/{{currentUser._id}}/fullscreen"><span
                    class="fas fa-cogs"></span></a></td>
            <td><a rel="noopener noreferrer"   class="dropdown-item"
                   href="/profile/{{currentUser._id}}/fullscreen">{{_
                    "fullscreen.navigation"}}</a></td>
        </tr>
    {{/if}}
</template>
