<template name="linuxImpressumFAQHeadingDE">
    <h1>Häufig gestellte Fragen zu 🍅cards</h1>
</template>

<template name="linuxImpressumFAQContentDE">

    <p>
        Ein Teil der Fragen bezieht sich auf die 🍅cards-Installation an der THM: <a rel="noopener noreferrer"   href="https://thm.cards" target="_blank">THM.cards</a>.<br>
        Linux.cards ist konfiguriert als »read-only«, das heißt, in dieser Installation kannst du keine Karten erstellen.
    </p>

    <ol>
        <li>
            <p style="color: #9C132D;">
                Warum sollen einmal gelernte Karten in immer längeren Abständen wiederholt werden?
            </p>
            <p>
                Eine ausführliche Erklärung, warum <strong> Wiederholungen des Gelernten</strong>  in länger werdenden
                Intervallen so wichtig sind, findest du in unserem Paper mit wissenschaftlichen Belegen,
                siehe auf der Seite <a rel="noopener noreferrer"   href="{{pathFor route='about'}}">»Über 🍅cards«</a>.
                Schneller und cooler erklärt das aber Daniel Hunold im Video:
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Is62XAmgrRQ?rel=0"
                        frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
                </iframe>
            </div>
        </li>
        <br>

        <li>
            <p style="color: #9C132D;">
                Was bedeutet es, wenn bei einer Kartei auf eine <strong> &raquo;Bonusphase&laquo;</strong>  hingewiesen
                wird?
            </p>
            <p>
                Hier hat die Lehrperson die <strong> Bonus-Option</strong>  aktiviert.
                Wenn du nach der <a rel="noopener noreferrer"   href="https://de.wikipedia.org/wiki/Lernkartei" target="_blank">5-Fächer-Methode
                von Sebastian Leitner</a> die vorgelegten Karten regelmäßig lernst, kannst du Bonuspunkte,
                anrechenbar auf die Klausurnote, erwerben.
                Das hängt natürlich von deiner Dozentin oder deinem Dozenten ab.
                Du wirst in diesem Fall per <strong> Nachricht</strong>  auf dein Handy (wenn du zuvor 🍅cards im
                Browser
                deines Smartphones aufgerufen hast) und/oder per <strong> E-Mail</strong>  auf dein Lernpensum
                hingewiesen.
                Den Bonus erhälst du nur, wenn sich am Ende der aktiven Bonusphase alle Karten im letzten
                Fach &raquo;Gelernt&laquo; befinden, siehe den Button &raquo;Lernstand&laquo; auf der Seite &raquo;Lernpensum&laquo;.
            </p>
            <p>
                Auch in einer Lernphase ohne Bonus-Option (grüner Button &raquo;Lernen nach Plan&laquo;)
                erhältst du den 🍅cards-Newsletter und Push-Nachrichten.
                Wenn es heute Karten zu lernen gibt, wirst du per E-Mail daran erinnert:
                <br><br>
                <a rel="noopener noreferrer"   href="/img/newsletter/Erinnerung.jpg"
                   data-lightbox="newsletter-1" data-title="Erinnerung an heute zu lernenden Karten">
                    <img src="/img/newsletter/Erinnerung.jpg"
                         alt="Erinnerung an heute zu lernenden Karten" class="img-responsive center-block"/>
                </a>
                <br>
                Wenn du die Lernfrist überschreitest, erhältst du eine Warnung:
                <br><br>
                <a rel="noopener noreferrer"   href="/img/newsletter/Warnung.jpg"
                   data-lightbox="newsletter-2"
                   data-title="Warnung vor baldige Rücksetzung der Lernstatistik">
                    <img src="/img/newsletter/Warnung.jpg"
                         alt="Warnung vor baldige Rücksetzung der Lernstatistik"
                         class="img-responsive center-block"/>
                </a>
                <br>
                Auf deinem Android-Smartphone sieht die Erinnerungsnachricht so aus:
                <br><br>
                <a rel="noopener noreferrer"   href="/img/newsletter/PushNotification.jpg"
                   data-lightbox="newsletter-3"
                   data-title="Warnung vor baldige Rücksetzung der Lernstatistik">
                    <img src="/img/newsletter/PushNotification.jpg"
                         alt="Erinnerung an heute zu lernenden Karten auf dem Smartphone"
                         class="img-responsive center-block"/>
                </a>
            </p>
        </li>
        <br>

        <li>
            <p style="color: #9C132D;">
                Warum bietet ihr <strong>Markdown / Markdeep</strong> für die Textformatierung an und nicht
                einen
                <a rel="noopener noreferrer"   href="https://de.wikipedia.org/wiki/WYSIWYG" target="_blank">WYSIWYG</a>-Editor?
            </p>
            <p>
                Alle Kartentexte sollen der besseren Lernbarkeit wegen <strong>einheitlich</strong>
                strukturiert und formatiert sein.
                Da dies in einem WYSIWYG-Editor nicht erzwungen werden kann,
                bieten wir typisierte Karten mit vorgegebenen Seitentiteln und
                ausschließlich die Formatierungen von <a rel="noopener noreferrer"
                    href="https://casual-effects.com/markdeep/features.md.html" target="_blank">Markdeep</a>
                an.
                Im Gegensatz zu WYSIWYG also <a rel="noopener noreferrer"   href="https://de.wikipedia.org/wiki/WYSIWYM"
                                                target="_blank">WYSIWYM</a>, beachte das &raquo;M&laquo; am
                Wortende.
                Im akademischen Bereich, besonders in <a rel="noopener noreferrer"
                    href="https://de.wikipedia.org/wiki/MINT-F%C3%A4cher" target="_blank">MINT-Fächern</a>,
                solltest du stets ein Textsatzsystem einem Textverarbeitungsprogramm vorziehen,
                also LaTeX statt WORD oder wesentlich simpler Markdown:
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/hpAJMSS8pvs?rel=0" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            </div>
        </li>
        <br>

        <li>
            <p style="color: #9C132D;">
                Ich kenne mich mit der Linux-Konsole gut aus. Kann ich 🍅cards auf meinem Laptop
                installieren und anpassen (als <strong> &raquo;My Cards&laquo;</strong> ) und offline mit den lokal gehaltenen Karteien lernen?
            </p>
            <p>
                Ja, 🍅cards ist Open Source. Eine <a rel="noopener noreferrer"
                    href="https://github.com/thm-projects/arsnova-flashcards/blob/master/Readme.md" target="_blank">Installationsanleitung</a>
                findest du im GitHub.
            </p>
        </li>
        <br>

        <li>
            <p style="color: #9C132D;">
                Wenn ich als Dozent/in, Student/in oder Open-Source-Programmierer/in eine Frage zur <strong> Nutzung
                oder Weiterentwicklung von 🍅cards</strong>  habe, an wen kann ich mich wenden?
            </p>
            <p>
                Schreibe einfach eine Mail an eine der im <a rel="noopener noreferrer"   href="{{pathFor route='impressum'}}">Impressum</a>
                genannten Personen.
                Bug Reports, Feature und Pull Requests kannst du auch auf
                <a rel="noopener noreferrer"   href="https://github.com/thm-projects/arsnova-flashcards/issues" target="_blank">GitHub</a>
                schreiben.
            </p>
        </li>
    </ol>
</template>
