<template name="filterIndexItemBottomCollapse">
    <a rel="noopener noreferrer"   class="collapseCardsetInfoButton pull-right" data-id="#collapseCardsetInfo{{this.index}}">
        <span class="far fa-caret-square-down pull-right collapseCardsetInfoIcon"
           data-id="#collapseCardsetInfo{{this.index}}"></span>
    </a>
</template>
